<br />
<ng-container *ngIf="product != null">
    <div class=" container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Product name: {{product.name}}
                </h5>
                <div class="card-text">
                    Price: ${{product.price}} <br />
                    Description: {{product.description}} <br />
                    Category: {{product.category}} <br />
                    Avaliable: {{product.isAvaliable | yesNo}} <br />
                </div>
            </div>
            <button class="btn btn-success" (click)="onAddProduct()">Buy</button>
        </div>
    </div>
</ng-container>